* {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 8em;
    margin-left: 15%;
    width: 72%;
    max-width: 1100px;
    min-height: 1180px;
    border-radius: 0.7em;
}

header {
    height: 100px;
    background-color: rgba(231, 229, 229, 0.5);
    font-size: 2.75em;
    padding: 0.5em;
    color: rgb(216, 150, 7);
}

header span {
    font-family: 'Sacramento', cursive;
}

.navbar {
    z-index: 100;
}

.nav-item {
    text-align: right;
}

nav ul li {
    font-weight: 500;
    font-size: 14px;
    background-color: rgba(231, 229, 229, 0.5);
}

nav ul li a {
    color: rgb(216, 150, 7);
    padding: 10px;
}

main {
    position: relative;
}

main h2 {
    font-size: 1.75em;
    font-weight: bold;
    color: rgb(60, 190, 160);
    text-transform: uppercase;
}

main #photos img {
    margin: 0.75em;
    width: 80%;
    border: 0.85em solid rgb(255, 255, 255);
}

section#blogposts {
    width: 100%;
    padding-top: 2.5em;
}

main .post {
    padding: 25px;
    border: 2px solid rgba(83, 78, 58, 0.6);
    border-radius: 0.5em;
}

main .post img {
    width: 50px;
    height: 40px;
}

.box {
    z-index: 2;
    position: fixed;
    opacity: 0.9;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    width: 15em;
    background: #000000;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
}

.box h1 {
    margin-bottom: 1em;
}

.box .title {
    font-weight: bold;
}

.box button {
    margin-top: 3em;
}

.close {
    font-weight: bold;
    float: right;
    cursor: pointer;
}

footer {
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 0.85em;
}

@media (max-width: 767px) {
    body {
        min-height: 1400px;
        background: linear-gradient(to right,
        rgb(77, 192, 154) 0%,
        rgb(77, 192, 154) 15%,
        rgb(238, 226, 192) 15%,
        rgb(238, 226, 192) 100%);
        background-repeat: no-repeat;
        margin-bottom: 1em;
    }
}

@media (min-width: 768px) {
    body {
        min-height: 1400px;
        background: linear-gradient(to right,
        rgb(77, 192, 154) 0%,
        rgb(77, 192, 154) 30%,
        rgb(238, 226, 192) 30%,
        rgb(238, 226, 192) 100%);
        background-repeat: no-repeat;
        margin-bottom: 1em;
    }
}